<div class="col-sm-3">
{{ form_row(item.products) }}
</div>
<div class="col-sm-3">
	{{ form_row(item.name) }}
</div>
<div class="col-sm-3">
	{{ form_row(item.color) }}
</div>
<div class="col-sm-2">
	{{ form_row(item.priceLine) }}
</div>
