{% extends "::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}Seguridad{% endblock %}

{% block body %}
{{ parent() }}
<div class="row">
	<div class="col-sm-3">
    	{% block fos_user_content %}
    	{% endblock %}
    <div>
</div>
{% endblock %}